.page-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-left: 20px;
  margin-right: 20px;
}

.title {
  box-shadow: 2px 2px 2px 1px rgb(0, 0, 0)
}

.content-container {
  width: 85%;
}
